﻿@model MoodDiaryProjectW2024.Models.DiaryDto
@{
    ViewBag.Title = "Delete";
}

<h2>Confirm Delete @Model.DiaryName</h2>

<p class="mb-0 mt-3">Are you sure you want to delete @Model.DiaryName</p>
<p>You will not have access to this diary after deletion.</p>
<div class="d-flex align-items-center gap-4 mt-4">
    <a href="/Diary/Details/@Model.DiaryId" class="btn btn-secondary">Cancel</a>

    <form action="/Diary/Delete/@Model.DiaryId" method="POST">
        <input type="submit" class="btn btn-danger" value="Delete" />
    </form>
</div>