
@{
    ViewBag.Title = "Create";
}

<h2>Add Mood</h2>
<form action="/Diary/Create" method="POST">
    <div>
        <label>Name:</label> <input name="DiaryName" />
    </div>
    <div>
        <input type="submit" value="Create Diary" />
    </div>
</form>