@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron text-center" style="margin-bottom:10px;">
    <h1 class="display-4">Mood and Weather Logging App</h1>
    
    <hr class="my-4">
    <p>This web app is designed with Entity Framework on the .NET core.</p>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h2 style="color:darkorchid">Diaries</h2>
            <p>Users are able to create, list, update, and delete diaries.</p>
        </div>
        <div class="col-md-4">
            <h2 style="color:forestgreen">Mood</h2>
            <p>Users are able to log their mood, and perform CRUD functions with data.</p>
        </div>
        <div class="col-md-4">
            <h2 style="color:orangered">Weather</h2>
            <p>Users are able to log weather data, and perform CRUD functions with data.</p>
        </div>
    </div>
</div>