@model MoodDiaryProjectW2024.Models.MoodDto

@{
    ViewBag.Title = "Details";
}
<h2>Mood Details</h2>

<div>
    <a href="/Mood/List">Back</a>
</div>

<div>
    <h3>Mood Rating (1-10, 10 is the most positive).</h3>
</div>
<form action="/Diary/Edit/@Model.MoodId" method="POST">
    <input type="submit" class="btn btn-primary" value="Update" />
</form>
<form action="/Diary/Delete/@Model.MoodId" method="POST">
    <input type="submit" class="btn btn-danger" value="Delete" />
</form>