@model IEnumerable<MoodDiaryProjectW2024.Models.MoodDto>
@{
    ViewBag.Title = "List";
}

<div class="container">
    <h2 style="color:forestgreen">Mood List</h2>
    <h4>This page displays singular mood data entries and their corresponding diaries and timestamps.</h4>
    @foreach (var Mood in Model)
    {
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title"><a href="/Mood/Details/@Mood.MoodId">@Mood.MoodId</a></h5>
                <div class="card-text">Mood Input Day: @Mood.MoodDay</div>
                <div class="card-text">Diary: @Mood.DiaryId</div>
            </div>
        </div>
    }
</div>